<div class="wrapper">
  <div class="card">
    <div class="headingWrapper">
      <h2>Previous launches</h2>
      <!--      <app-button (click)="toggleOrder()"-->
      <!--        >{{ isAscendingOrder ?  : "Descending" }}</app-button-->
      <!--      >-->
      <app-button (click)="toggleOrder()" class="button">
        <i-feather
          *ngIf="!isAscendingOrder"
          name="chevron-down"
          class="icon"
        ></i-feather>
        <i-feather
          *ngIf="isAscendingOrder"
          name="chevron-up"
          class="icon"
        ></i-feather>
      </app-button>
    </div>
    <div *ngIf="isLoading()" class="loading">
      <app-slinky-rotator></app-slinky-rotator>
    </div>
    <div *ngIf="!isLoading()">
      <div class="list">
        <div *ngFor="let launch of viewModel()" class="launch">
          <p class="data-1">Name</p>
          <p class="data-2">{{ launch.name }}</p>
          <p class="data-3">Launch&nbsp;date</p>
          <p class="data-4">{{ launch.date }}</p>
          <button class="data-5">Details</button>
        </div>
      </div>
    </div>
  </div>
  <button (click)="loadMore()" [disabled]="isLoading()">Load more</button>
</div>
