<div class="wrapper">
  <main>
    <h1>Privacy Policy for {{ appName }}</h1>

    <h2>Introduction</h2>
    <p>
      At {{ appName }}, we are committed to protecting your privacy and ensuring
      a safe and secure user experience. This Privacy Policy outlines our
      approach to handling your personal information when using our app.
    </p>

    <h2>No Data Collection</h2>
    <p>
      We do not collect, store, or process any personal data or information
      through the use of this app. This includes, but is not limited to:
    </p>
    <ul>
      <li>Names</li>
      <li>Email addresses</li>
      <li>Phone numbers</li>
      <li>Location data</li>
      <li>Usage data</li>
      <li>Payment information</li>
    </ul>

    <h2>No Cookies or Tracking Technologies</h2>
    <p>
      We do not use cookies or any tracking technologies to collect information
      about your activity within the app or any other online services. Our app
      is designed to function without the need for cookies or similar tools.
    </p>

    <h2>Third-Party Services</h2>
    <p>
      Since we do not collect or share your information, we do not integrate
      with any third-party services that could access or store your personal
      data.
    </p>

    <h2>Security</h2>
    <p>
      While we do not collect data, we take reasonable measures to ensure that
      the app is secure and free from vulnerabilities that could compromise your
      privacy.
    </p>

    <h2>Changes to This Policy</h2>
    <p>
      As our app evolves, this privacy policy may be updated to reflect new
      features or requirements. However, any changes will maintain our
      commitment to protecting your privacy by not collecting or using your
      personal data. We encourage you to review this policy periodically to stay
      informed about how we are safeguarding your privacy.
    </p>

    <h2>Contact Us</h2>
    <p>
      If you have any questions or concerns regarding this Privacy Policy, feel
      free to reach out to us at {{ mailAddress }}.
    </p>

    <p>
      By using {{ appName }}, you agree to the terms outlined in this Privacy
      Policy.
    </p>
    <p>This privacy policy was last updated on {{ lastUpdated }}</p>
  </main>
</div>
