.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: center;
  width: min(100%, calc(1100 / 16 * 1rem));
  padding: 16px 32px 96px;

  @media (max-width: calc(600 / 16 * 1rem)) {
    padding: 8px 16px 48px;
  }
}

.grid {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  margin: 0 -16px;

  @media (max-width: 950px) {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  @media (max-width: 600px) {
    margin: 0 -8px;
  }
}

.fullWidth {
  display: flex;
  grid-column: span 2;

  @media (max-width: 950px) {
    grid-column: 1;
  }
}

.flex {
  display: flex;
}
