.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.listItem {
  display: flex;
  gap: 24px;
}

.dataName {
  flex-grow: 1;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.icon {
  margin-right: 16px;
}

.card {
  flex: 1;
}

.headingWrapper {
  display: flex;
}

h2 {
  flex: 1;
}
