<div class="card">
  <h2>Next launch</h2>
  <div *ngIf="isLoading()" class="loading">
    <app-slinky-rotator></app-slinky-rotator>
  </div>
  <div *ngIf="!isLoading()">
    <div *ngIf="viewModel()?.name" class="data">
      <p class="dataName">Name</p>
      <p>{{ viewModel()?.name }}</p>
    </div>
    <div *ngIf="viewModel()?.date" class="data">
      <p class="dataName">Launch date</p>
      <p>{{ viewModel()?.date }}</p>
    </div>
    <div
      *ngIf="viewModel()?.webcastUrl && viewModel()?.webcastSource"
      class="data"
    >
      <p class="dataName">Webcast</p>
      <a href="{{ viewModel()?.webcastUrl }}" target="_blank">
        <i-feather name="external-link" class="icon"></i-feather>
        <span>{{ viewModel()?.webcastSource }}</span>
      </a>
    </div>
  </div>
</div>
