<div class="card">
  <div class="headingWrapper">
    <h2>Next launch</h2>
    <app-button
      *ngIf="!isLoading() && viewModel()"
      (click)="openDetails()"
      variant="contained"
      size="small"
    >
      Details
    </app-button>
  </div>
  <div *ngIf="isLoading()" class="centerFullScreen">
    <app-basic-loader />
  </div>
  <div *ngIf="!isLoading() && viewModel()" class="list">
    <div *ngIf="viewModel()?.name" class="listItem">
      <p class="dataName">Name</p>
      <p>{{ viewModel()?.name }}</p>
    </div>
    <div *ngIf="viewModel()?.date" class="listItem">
      <p class="dataName">Launch date</p>
      <p>{{ viewModel()?.date }}</p>
    </div>
    <div class="listItem">
      <p class="dataName">Webcast</p>
      <a href="{{ viewModel()?.webcast?.url }}" target="_blank">
        <i-feather name="external-link" class="icon" />
        <span
          >{{ viewModel()?.webcast?.type?.name
          }}{{
            viewModel()?.webcast?.publisher
              ? ": " + viewModel()?.webcast?.publisher
              : ""
          }}</span
        >
      </a>
    </div>
  </div>
</div>
